{% import "macros.html" as macros %}

<!doctype html>
<html lang="en">
    <html class="dark light">
        {% include "partials/head.html" %}

        <body>
            <div class="content">
                {% include "partials/nav.html" %}

                <!-- prettier-ignore -->
                {# Post page is the default #}
                {% block main_content %}
                    {% if section.extra.section_path -%}
                        {% set section = get_section(path=section.extra.section_path) %}
                    {% endif -%}
                    {{ macros::list_posts(pages=section.pages) }}
                {% endblock main_content %}
            </div>
        </body>
    </html>
</html>
