{% macro list_posts(pages) %}
<ul>
    {%- for page in pages %}
    <li class="club-item">
        <section>
            <div class="club-header">
                <h2 class="club-title" style="margin-bottom: 0">
                    <!-- Either link to the page or the website -->
                    {% if page.link_to %}
                        <a href={{ page.link_to }}>{{page.title}}</a>
                    {% else %}
                        <a href={{ page.permalink }}>{{page.title}}</a>
                    {% endif %}
                </h2>

                <p class="description">{{page.description}}</p>
            </div>
        </section>
    </li>
    {% endfor -%}
</ul>
{% endmacro list_posts %}
